<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
<body>
    <div class="container">
        <h4><%= title %></h4>
        <form action="/add" method="post">
            <legend>
                Add text
            </legend>
            <div class="form-group">
                <input type="text" id="title" class="form-control" name="title">
            </div>
            <div class="form-group">
                <textarea name="description" cols="50" rows="1"></textarea>
            </div>
            <button class="btn btn-primary">
                Add
            </button>
        </form>
        <br>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">Description</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < tasks.length; i++) {%>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= tasks[i].title %></td>
                        <td><%= tasks[i].description %></td>
                        <td>
                            <a href="/turn/<%= tasks[i]._id %>" 
                                class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark' %>">
                                Done
                            </a>
                            <a 
                                id="delete"
                                class="btn btn-danger" href="/delete/<%= tasks[i]._id %>">
                                Delete
                            </a>
                        </td>
                      </tr>
                <% } %>
            </tbody>
          </table>
    </div>
    
    <script>
        document.getElementById('title').focus();
        document.getElementById('delete')
            .addEventListener('click', function(e) {
            let response = confirm('Estás seguro de eliminar la tarea?');
            if (!response) {
                e.preventDefault();
            }
        });
    </script>
</body>
</html>